.site-header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.header {
    &__list {
        @include Displey($space: end);
        gap: 20px;
        padding: 26px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__item {
        @include Displey($space: start);
        color: black;
        transition: all 0.4s;
        padding: 14px 11px;
        @include Hovertext();
    }

    &__item-a {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #333333B2;
        opacity: 70%;
    }

    &__item-generator {
        @include Displey($space: start);
        gap: 5px;
    }

    &__item-select {
        border: none;
        outline: none;
        &:hover{
            background-color: blue;
        }
    }

    &__item-option {
        background-color: blue;
        color: white;
        width: 100px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.27px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        border: none;
    }

    &__item-img {
        @include Displey($space: start);
    }

    &__item-content{
        display: flex;
        align-items: center;
    }

    &__navbar {
        @include Displey($space: space-between);
    }

    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
    }

    &__item-contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: gray;
    }

    &__generator {
        @include Displey($space: start);
        gap: 6px;
        padding: 28px 0px;
    }

    &__item-content {
        @include Displey($space: start);
        gap: 50px;
    }

    &__form {
        @include Displey($space: start);
        gap: 20px;
    }

    &__input-img {
        @include Displey($space: start);
        gap: 8px;
    }

    &__input-img>input {
        width: 48px;
        padding: 8px 0px;
        border: none;
        outline: none;
    }
    &__input-img > input:focus{
        border: 1px solid black;
        border-radius: 5px
    }

    &__consultatsiya {
        @include btnStyle();
        border-radius: 8px;
        padding: 8px 15px 8px 15px;
    }

    &__consultatsiya>a {
        color: white;
        font-weight: 500;
        font-size: 16px;
        @include Displey($space: start);

    }

}

.header-lang-wrapper{
    display: flex;
    align-items: center;
    gap: 6px;
    border-left: 1px solid gray;
    height: 50px;
    padding: 14px 11px;
    color: #707070;
    transition: all 0.3s;
    position: relative;
    &:hover{
        background-color:#4762FF;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-left: 1px solid white;
        color:  white;
    }
    &:hover >.header-top__popap{
        height: 88px;
        padding: 5px;
    }
    &:hover >span ~svg{
        transform: rotate(180deg);
    }
}

.header-top__popap{
        position: absolute;
        width: 100%;
        top: 46px;
        left: 0;
        background-color:#4762FF;
        height: 0;
        overflow: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &>li{
                text-align: center;
                padding: 10px 0;
                transition: all 0.3s;
                color: white;
            &:hover{
                // height: 86px;
                // padding: 5px;
                background-color: white;
                border-radius: 10px;
                color: black;
    }
}
}  
//            }
//         &>li{
//             text-align: center;
//             padding: 10px 0;
//             transition: all 0.3s;
            
//             &:hover{
//                 background-color: red;
//                 border-radius: 10px 0;
//                 color:black;
//             }
//            }
//            & > span ~ svg{
//           transition: transform 0.3s;
//            }
//            &:hover > span ~ svg{
//             transform: rotate(180deg);
//            }
//     }

