.site-main{
    margin-top: 203px;
}
.section{
    padding-top: 110px;
    padding-bottom: 122px;
    background-image: url(../images/orqa-fon1.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero{
    &__content{
        width: 582px;
    }
    &__title{
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: white;

        
    }
    &__text{
    font-family: 'Inter',sans-serif;
     margin-top: 16px;
     margin-bottom: 32px;  
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 80%;
    color: white;
    }
    &__btn{
       font-family: 'Montserrat',sans-serif;
       @include btnStyle();
       padding: 15px 31px;
       font-weight: 600;
       font-size: 18px;
       line-height: 100%;
       letter-spacing: 0%;
       text-align: center;
       
    }
}
.about{
    @include Displey($space:justify-content);
    align-items: start;
    gap: 39px;
    padding-top: 67px;
    padding-bottom: 76px;
    &__content{
        width: 540px;
    }
    &__img{
       transition: 0.7s;
       @include Transform($scale:1.04);
    }
    &__title{
        margin-top: 10px;
        margin-bottom: 16px;
        font-family: 'Helvetica',sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    &__text{
        margin-bottom: 10px;
        font-family: 'Helvetica',sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        opacity: 80%;
    }
   
}
.catalog-section{
    padding-bottom: 58px;
}
.catalog{
    @include Displey($space:center);
    gap: 26px;
    &__content{
        box-shadow: 0 0 1px 1px  rgba(128, 128, 128, 0.1);
        border-radius: 6px;
        width: 250px;
        transition: all 0.4s;
        @include Transform($scale:1.1);
    }
    &__content:active{
            transform: scale(0.90);
    }
    &__title-catalog{
        margin-bottom: 64px;
        font-family: 'Helvetica' sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        
    }
    &__content2{
        padding: 0 19px;
    }
    &__content-title{
        font-family: 'Helvetica',sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;    
    }
    &__content-text{
        font-family: 'Helvetica',sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
    }
    &__content-text--dizel{
        font-family: 'Helvetica',sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        opacity: 60%;
    }
    &__content-btn{
        @include btnStyle();
        padding: 10px 61px;
        margin-top: 14px;
        margin-bottom: 20px;
    }
}
.cabinet{

    &__title{
        width: 816px;
        margin: 0 auto;
        margin-bottom: 10px;
        font-family: 'Helvetica',sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: lowercase;
        
    }
    &__text{
        padding-bottom: 50px;
        width: 816px;
        margin: 0 auto;
        font-family: 'Helvetica' sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        opacity: 80%;     
    }
}
.logo{
    &__title{
        margin-top: 67px;
        margin-bottom: 50px;
        text-align: center;
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        
    }
    &__img{
        @include Displey($space:start);
        gap: 50px;
    }
}
.cabinet-section{
    background-image: url(../images/form-orqa-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 90px;
    margin-top: 57px;
}
.form{
    background-color: #4762FF;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 607px;
    margin-right: 159px;
    &__form{
        @include Displey($space:start);
        flex-direction: column;  
        gap: 23px;
    }
    &__input,&__phone{
        width: 90%;
        padding: 19px 0px 19px 24px;
        border-radius: 10px;
        background-color: #FFFFFF1A;
        color: white;
        border: none;
        outline: none;
        font-family: 'Helvetica Neue';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        
    }
    &__input::placeholder{
        color: white;
    }
    &__phone::placeholder{
        color: white;
    }
    &__btn{
        width: 90%;
        padding: 20px 0px;
        border-radius: 10px;
        border: none;
        font-family: 'Helvetica Neue';
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        background-color: white;
        color: #4762FF;  
        cursor: pointer; 
        transition: all 0.4s;
        @include btnHover();
    }
    // &__btn:active{
    //     transform: scale(0.90);
    // }
    &__title{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 16px;
        width: 536px;
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: white;  
    }
    &__text{
        width: 531px;
        margin: 0 auto;
        margin-bottom: 25px;
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: white;
    }
}
.footer-section{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 111px;
}
.footer{
    @include Displey($space:space-between);
    align-items: start;
    border-bottom: 1px solid gray;
    width: 1124px;
    border-radius: 0.7px;
    padding-bottom: 35px;
    &__content,&__contact,&__form{
        width: 285px;
    }
    &__img{
        @include Displey($space:start);
        gap: 6px;
        font-family: 'Montserrat',sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: white;

    }
    &__img > a{
        color: white;
        @include Hovertext();
    }
    &__content{
        @include Displey($space:start);
        flex-direction: column;
         @include Hovertext();
    }
    &__strong{
        margin-bottom: 15px;
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0px;
        color: white; 
        transition: 0.4s;
        @include Hovertext();
    }
    &__item{
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: white;
        margin-bottom: 8px; 
        transition: 0.4s; 
       @include Hovertext() ;  
    }
    &__desc{
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: white;
        @include Hovertext();        
    }
    &__adres{
        margin-top: 15px;
        margin-bottom: 8px;
    }
    &__mail{
        margin: 8px 0px;
    }
    
    &__form{
        width: 283px;
    }
    &__input > input{
        width: 80%;
        margin-top: 15px;
        margin-bottom: 20px;
        padding: 19px 12px;
        border-radius: 5px;
       border: 1px solid white;
       outline: none;
       background-color: black;
       color: white;
    }
    &__input >input::placeholder{
        color: white;
    }
    &__input > button{
        width: 80%;
        padding: 17px 0px;
        border-radius: 5px;
        border:1px solid white;
        background-color: rgba(255,255,255,0.1);
        color: white;
        cursor: pointer;
        transition: all 0.4s;
        @include btnHover();
    }
    &__p{
        margin-top: 18px;
        font-family: 'Helvetica Neue'sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0%;
        color: white;
        
    }

}